<h1>Provide a randomly generated number</h1>

<form action="/random/results">
  <label for="cheetah">Minimum</label>
  <input id="cheetah" type="text" name="min_input" placeholder="E.g. 1.5">
  <label for="ladybug">Maximum</label>
  <input id="ladybug" type="text" name="max_input" placeholder="E.g. 4.5">

  <button>Pick random number</button>
</form>
