 <h1>
  Payment Results
</h1>

<dl>
  <dt>
    APR
  </dt>
  <dd>
    <%= @the_apr_input_converted %>
  </dd>

  <dt>
    Number of years
  </dt>
  <dd>
    <%= @the_years_input %>
  </dd>

  <dt>
    Principal
  </dt>
  <dd>
    <%= @the_principal_input %>
  </dd>

  <dt>
    Payment
  </dt>
  <dd>
    <%= @the_result %>
  </dd>
</dl>

<a href="/payment/new">
  Calculate another payment
</a>
